*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
html{
    font-size: 10px;
    font-family: sans-serif,;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.squarespace-cdn.com/content/v1/545be5c4e4b0b773c733ca03/1422551119325-BOHQWGWX4IT11J5PCTP4/ke17ZwdGBToddI8pDm48kBYYg3ovVy5X_hU18nlcvZ8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKctJrONagLBXJqz80qRWqcxr8zJ-Njkj_7AqmA3ML2GHqTBKj4B5vTCMCcmgXBV8vz/11819446084_ef200d0017_b-1.jpg?format=1500w")center no-repeat;
    background-size: cover; 
  
 
}
a{
    text-decoration: none;
    color: #eee;
    
}

.Opening{
    margin-top: 50px;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin-right: 20vh;
    text-shadow: 20cm;
    letter-spacing: 25px;
    text-transform: uppercase;
}

.OpenImage{
    margin-top: 20vh;
    margin-left: 15vh;
max-width: 120rem;
width: 500px;
    height: 500px;
    border-radius: 50%;
  background-image: url("MyProf.png");
  box-shadow: 25px 25px 35px rgba(0,0,1,1);
 
}
.OpenImage:hover{
    width: 600px;
    height: 600px;
    border-radius: 50px;
    cursor: pointer;
}

.Opening span{
    color: crimson;
}


/* START HOME CSS */

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
 
}
nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
     font-size: 1.6rem; 
     z-index: 10;  
     
}
.brand{
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);

    animation: slideIn .5s forwards;
    
}
.brand span{
    color: crimson;
    
}
nav ul{
    display: flex;

    
}
nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
  
}

nav ul li:nth-child(1){
animation-delay: 0s;
}

nav ul li:nth-child(2){
    animation-delay: .5s;  
}

    nav ul li:nth-child(3){
    animation-delay: 1s;
        }
        nav ul li:nth-child(4){
          animation-delay: 1.5s;
            }

nav ul li a{
    padding:1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}


nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
content: '';
position: absolute;
width: 100%;
height: 2px;
background-color: crimson;
left: 0;
transform: scaleX(0);
transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover:before,
nav ul li a:hover:after{
transform: scaleX(1);
}
 
@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}

.rows{
    color: white;
    margin-top: 300px;
}
.cols{
    font-size: 25px;
}
.contres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
   
}

.h123{
    text-align: center;
    color: #eee;
    margin: 5px;
    margin-top: 200px;
}

.card{
    margin-left: 50px;
    display: grid;
    /* font-family: roboto; */
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.9);
    text-align: center;
    transition: 0.5 ease;
    cursor: pointer;
}
.card-image{
    background-image: url('Project1.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-image2{
    background-image: url('Project2.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.main{
    display: grid;
    grid-template-columns: 1fr repeat(12,minimax(auto,60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.card-text .date{
   color: rgb(255,7,110);
   font-size: 13px;
}

.card-text p{
    color:#eee;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
    color: crimson;
}
.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255,7,110);
}

.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border{
    border-left: 1px solid rgb(172,26,87);
    border-right: 1px solid rgb(172,26,87);
}

.card-stats .value sup{
    font-size: 12px;
}

.card:hover{
    transform: scale(1.2);
}

.containers{
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    min-height: 50vh;
    
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    top: 50%;
    left: 50%;
    stroke: gray;
    stroke-width: 5;
    stroke-linecap: round;
    transform: translate(5px,5px);
   background: transparent;
  
}
.contactimage{
width: 100px;
height: 100;
margin-top: 120px;
background-color: black;
border-color: black;
border-radius: 50%;

}
.contactemail{
    width: 100px;
    height: 100px;
    margin-top: 120px;
    background-color: black;
    border-color: black;
    border-radius: 50%;
    margin-left: 200px;
    }
    .contactphone{
        width: 100px;
        height: 100px;
        margin-top: 120px;
        background-color: black;
        border-color: black;
        border-radius: 50%;
        margin-left: 200px;
        }
        .textcont{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
.textAddress{
    font-size: 15px;
    font-weight: 900;
    margin-top: 20px;
}
.textEmail{
    font-size: 15px;
    font-weight: 900;
    margin-top: 20px;
}
.textPhone{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;
}

.contactme{
    background-color: aqua;
    background: linear-gradient(rgba(96, 195, 252, 0.8), rgba(114, 171, 255, 0.5)), url("https://cms.hostelworld.com/hwblog/wp-content/uploads/sites/2/2018/11/hong-kong.jpg")center no-repeat;
    height: 300px;
    margin-top: 200px;
}
.H2{
    text-align: center;
    font-size: 100px;
    margin-top: 25px;
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation:  svg 3.3s linear forwards;
    
}
svg circle:hover{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation:  avg 0.1s linear infinite;
    
}
@keyframes avg {
    0%{
        stroke-dashoffset:440;
       
    }
    100%{
        stroke-dasharray:440;
        
    }
}

.main1:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke: #00ff43;
    
}
.main1:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke: #00a1ff;
}
.main1:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: red;
}
.main1:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: violet;
}
.main1:nth-child(5) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: rgb(241, 74, 13);
}
.main1:nth-child(6) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 87) / 100);
    stroke: rgb(0, 255, 149);
}
.main1:nth-child(7) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 91) / 100);
    stroke: rgb(40, 91, 230);
}
.main1:nth-child(8) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: yellow;
}


@keyframes svg {
    0%{
        stroke-dashoffset:440;
       
    }
    100%{
        stroke-dasharray:440;
        
    }
}

.containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 150rem;
    width: 90%;
    margin: 0.01 auto;
    color: #eee;
}
.box{
    position: relative;
    width: 250px;
    background: linear-gradient((0deg,#1b1b1b,#222,#1b1b1b));
    display: flex;
   height: 150px;
   border-radius:center;
   overflow: hidden;
   transition: 0.5s;
}
.text{
    position: relative;
    color: #eee;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    transition: 0.5s;
    margin-left: 5px;
}
/* End HOME CSS */

/* Start About CSS */

.images{
    border-radius: 50%;
    float: right;
    margin-top: 70px;
    left: 120%;
    animation: images 12s linear forwards;
    
}
@keyframes images{
    0%{
        float: left;
    }
   
}

.text1{
   position: relative;
   max-width: 150rem;
   width: 90%;
   margin: 0 auto;

    left: 120%;
    
    
    animation:  textanimate 2s linear forwards;
}
.text2{
    position: relative;
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;
 
     left: 120%;
     
     
     animation:  textanimate 3s linear forwards;
 }
 .text3{
    position: relative;
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;
 
     left: 120%;
     
     
     animation:  textanimate 4s linear forwards;
 }
 .text4{
    position: relative;
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;
    
     left: 120%;
     
     
     animation:  textanimate 5s linear forwards;
 }
 .text5{
    position: relative;
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;
 
     left: 120%;
     
     
     animation:  textanimate 6s linear forwards;
 }
 

@keyframes textanimate {
    0%{
        left: 120%;
    }
    100%{
        left: 0%;
    }
}

/* END About CSS */


/* Home CSS */

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.containers .box{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    margin-left: 10px;
}
.containers .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}
.containers .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}
.box:hover .percent .number h2{
    color: #fff;
    font-size: 55px;
}
/* End Home CSS */


 /*Start CONTACT CSS */

.contact-title{
    text-align: center;
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    align-items: center;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
   
    
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}
.image{
    margin-top: 20px;
   cursor: pointer;
   margin-left: 20px;
}
/* End CONTACT CSS */
